$banana: #FFDB5C;
$electric-blue: #4897D8;
$electric-blue-dark: #2B82CA;
$light-blue: #dbedfc;
$watermelon: #FA6E59;
$watermelon-dark: #F95339;
$canteloupe: #F8A055;
$canteloupe-dark: #F68828;
$base-white: #FAFAFA;
$bar-height: 40px;

body {
   width:auto;
   height:auto;
   overflow: hidden;
   background-color: $base-white;
   color: $electric-blue;
   font-family: 'Raleway', sans-serif;
}

.url-bar {
  height: $bar-height;
  line-height: $bar-height;
  margin: 5px;
  border-radius: 3px;
  width: 95%;
  background-color: $electric-blue;
  padding: 0px 6px;
  display: flex;
  justify-content: space-between;
}



//WC TODO: change css of blacklist bar and url bar to common component?
.blacklist-bar {
  height: 40px;
  line-height: 40px;
  margin: 5px auto;
  border-radius: 3px;
  width: 95%;
  background-color: $canteloupe;
  color: $base-white;
  padding: 0px 6px;
  display: flex;
  justify-content: space-between;
}

.blacklist-button {
  line-height: $bar-height;
  height: $bar-height;
}

.blacklist-bar-info {
  display: flex;
  height: $bar-height;
  width: 150px;
  justify-content: space-between;
}

.url-bar-category {
  color: $base-white;
  float: left;
  background-color: $canteloupe;
  padding: 0 10px;
  height: 30px;
  border-radius: 2px;
  margin: 5px;
  display: inline;
  line-height: 30px;
}

.url-bar-category-times {
  display: inline;
  position: relative;
  padding-left: 10px;
}
.url-bar-category-times:hover{
  color: $watermelon;
}

.url{
  color: $base-white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30%;
}

.url:hover {
  color: $canteloupe;
}
.url-categories{
  display: flex;
  float:right;
  overflow: scroll;
}
.star-categories {
  float: right;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: $banana;
}

.lookback-container{
  width: 95%;
  height: 350px;
  overflow: scroll;
  background-color: $base-white;
  margin: 30px;
  border:solid 1px $electric-blue;
}

.domain-info {
  padding-left: 5px;
  padding-right: 5px;
}

.lookback-graph-container{
  height: calc(100% - 70px);
  min-width: 800px;
  padding-top: 10px;
}

.lookback-details-container{
  text-align: center;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 125px;
  background-color: $base-white;
  color: $electric-blue;
  .h4{
    color: $canteloupe;
    margin: 5px;
  }
  .p{
    margin-right: 30px;
  }
}

/*BUTTONS*/
#back-button{
  border: 0;
  background: $electric-blue;
  border-radius: 4px;
  color: $base-white;
  font-size: 15;
  transition-duration: 0.4s;
  margin-right: 5px;
  margin-left: 5px;
  height: 27px;
}

#back-botton:hover {
    background: red;
    color: red;
}

.side-bar-title{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: $base-white;
  background-color: $canteloupe;
  font-size: large;

}

.side-bar-container{
  color: $canteloupe;
  display: inline-block;
  width: 18%;
  height: 100%;
  background-color: $base-white;
  border: solid 3px $canteloupe;
  border-top: 0px;
  overflow-y: scroll;
}

.hide-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-bar-label{
  font-weight: normal;
  .selected{
  width:70%;
  }
}

.domain-bar{
  height: 22px;
  border: solid 1px $electric-blue;
  color: $canteloupe;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px;
  border-radius: 2px;
  padding: 0 2px;
  position:relative;
  z-index: 1;
  min-width: 24px;
  &:hover {
    border-color: $canteloupe;
  }
}

.domain-favicon {
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
  margin-right: 8px;
}

.display-favicon {
  width:25px;
  height:25px;
  margin-right: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.previousPath {
  border-color: $banana;
}

start-time-label .end-time-label{
  font-size: 15;
  color: $electric-blue;
  width: auto;
}

.site-title{
  font-size: 35px;
  margin-right: 15px;
  color: $base-white;
  font-weight: bold;
}

.search-results-container {
  padding-right: 15px;
  width: calc(100% - 200px);
  height: calc(100% - 50px);
  display: inline-block;
  position: absolute;
}

.categories-page {
  height: 92.5vh;
}

.vertical-axis-label {
  transform: rotate(270deg);
  transform-origin: left top 0;
  font-size: 20;
  position: absolute;
  top: 600px;
}

.time-labels{
  padding-left: 30px;
  padding-right: 15px;
}

.start-time-label{
  float: left;
  display: inline-flex;
}
.end-time-label{
  float: right;
}

.time-break-line{
  height: calc(92% - 240px);
  position: absolute;
  z-index: 1;
  border-right: 1px solid $banana;
}

#first-time-break{
  width: 33%;
  float:left;
}

#second-time-break{
  width: 66%;
  float: right;
}

#time-break-line-label1{
  margin-left: 30%;
  position: absolute;
}
#time-break-line-label2{
  margin-left: 63%;
  position: absolute;
}

.time-container{
  display: list-item;
}

.nav-bar-button {
  border: none;
  background-color: $electric-blue;
  color: $banana;
  margin: 10px;
  margin-top: 15px;
  font-size: medium;
  padding: 0px;
}
.nav-bar-button:hover {
  color: $base-white;
}
.nav-bar-button-selected {
  color: $base-white;
  border-bottom: solid $base-white 1px;
  padding: 0px;
}

.control-buttons{
  display: block;
  color: $canteloupe;
  font-weight: bold;
}

.checkbox {
  text-align: center;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: $electric-blue;
}

.nav-menu-bar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.search-bar {
  margin: 7px 10px;
  border-radius: 10px;
  border: none;
  min-width: 200px;
  height: 35px;
  padding: 10px;
}
.blacklist-text-entry {
  margin: 3px 5px;
  border-radius: 4px;
  border: none;
  width: 98%;
}
.all-categories {
  overflow: scroll;
}

.section-title {
  font-size: 20px;
  margin: 10px;
  color: $canteloupe;
}

.selected-domain-bar {
  margin-top: 5%;
  width: 95%;
  border: $electric-blue solid;
  border-left:none;
  float: none;
  margin-left: 2%;
  margin-right: 2%;
  height: 100px;
  border-radius: 5px;
  display:flex;
  flex-flow: row nowrap;
}

.page-bar{
  border-left: solid $electric-blue;
  height:100%;
  display:inline-block;
  margin: 0;
}

.close-detail-view-btn{
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  border: #FAFAFA;
  background-color: #FAFAFA;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  font-size: xx-large;
}

.category-entry-wrapper{
  width: 50%;
}

.domainBar-zoom-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden { display:none; }

.error_message { color: blue; }

.delete-category-button {
  float: right;
  color: $canteloupe;
  width: 15px;
  height: 25px;
  line-height: 25px;
}

.edit-category-button {
  color: $canteloupe;
  width: 15px;
  height: 25px;
  line-height: 25px;
}

.edit-category-input {
  height: 20px;
  width: 150px;
}

.category-title {
  color: $canteloupe;
  text-align: center;
  width: 150px;
}

.side-bar-category{
  width: 100%;
  height: 25px;
  display: flex;
  line-height: 25px;
  border-bottom: solid thin $canteloupe;
  justify-content: space-between;
}

.checked {
  background-color: $banana;
}

.date-picker {
  width:165px;
  position: relative;
}

.edit-category-entry {
  textarea {
    width: 150px;
    border: none;
    background-color: $light-blue;
    text-align: center;
  }
}

#loading_page {
  display: table;
  margin: 20px 40%;
}

.star-display{
  margin-top: 10px;
}

.display-view {
  width:50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.page-details{
  height: 40%;
}

.watermelon {
  background-color: $watermelon;
  color: white;
  &:hover {
    background-color: $watermelon-dark;
    color: white;
  }
}

.canteloupe {
  background-color: $canteloupe;
  color: white;
  &:hover {
    background-color: $canteloupe-dark;
    color: white;
  }
}

.star-checkbox{
  border-bottom: solid thin $canteloupe;
  border-top: solid thin $canteloupe;
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
}

.side-bar-star{
  margin: 0 auto;
}

hr{
  margin: 0 auto;
  border-color: $watermelon-dark;
  border-width: 2px;
  width: 100%;
}

.add-category-btn{
  padding-top: 8px;
  padding-bottom: 7px;
  border: 0px;
  font-size: large;
  background: none;
  &:hover{
    color: $canteloupe;
  }
}


.category-bar{
  width: 80px;
  margin: 5px;
  height: 35px;
  border: solid 2px $canteloupe;
  color: $base-white;
  line-height: 32px;
  text-align: center;
  padding: 0 6px;
  &:hover{
    color: $canteloupe;
  }
}

.category-bar.checked{
  background-color: $canteloupe;
  color: $base-white;
  &:hover{
    background-color: $canteloupe-dark;
    border: solid 2px $canteloupe-dark;
  }
}

.categories-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.star-div{
  height:45px;
  width: 45px;
  color: $base-white;
  margin-left: 1%;
  &:hover{
    color: $banana;
  }
}

.starred{
  color: $banana;
}

.star{
  line-height: 45px;
}

.category-entry{
  margin: 0 auto;
  width: 97%;
  margin-bottom: 5px;
  background-color: $electric-blue-dark;
}

.page-title{
  width: 60%;
}

/* Search Component */
#search-container {
  margin: 15px;
}

#search-results-container {

}

#search-selection-container {
  text-align: center;
}

.search-select-dropdown {
  margin: 0 20px;
}

.advanced-search-bar {
  width:100%;
  margin: 7px auto;
  border-radius: 10px;
  border: canteloupe;
  min-width: 200px;
  height: 35px;
  padding: 10px;
}

.login-error {
  color: $watermelon-dark;
  text-align: center;
  font-weight: bold;
}

/*MODAL*/
.hider{
    position:absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:100%;
    z-index: 99;
   background-color:Black;
   //for transparency
   opacity:0.6;
}

.modal-base{
  position: absolute;
  background-color: $base-white;
  z-index: 110;
  display: inline;

  top: 5%;
  left: 7%;
  width:86%;
  height:85%;

  /*-webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;*/

}

#iframe-close-button{
  float: right;
  margin-left: 80%;
  margin-top: 1%;
  padding: 1px;

  height: 10px;
  line-height: 10px;


  background-color: $canteloupe;
  color: $base-white;
  border-style: solid;
  border-color: $canteloupe;
}

#iframe-open-button{
  position: relative;
  float: right;
  text-align: center;
  height:80%;
  line-height: 80%;
  margin-top: auto;
  margin-bottom: auto;

  background-color: $canteloupe;
  color: $base-white;
  border-style: solid;
  border-color: $canteloupe;
}

#iframe-open-button:hover{
  background-color: $canteloupe-dark;
}

.m-iframe{
  position:relative;
  height: 85%;
  width: 90%;
  top:5%;
  bottom:5%;
  margin-left: 5%;
  margin-right: 5%;
}
