$banana: #FFDB5C;
$electric-blue: #4897D8;
$light-blue: #dbedfc;
$watermelon: #FA6E59;
$canteloupe: #F8A055;
$base-white: #FAFAFA;

body {
   width:auto;
   height:auto;
   overflow: hidden;
   background-color: $base-white;
   color: $electric-blue;
   font-family: 'Raleway', sans-serif;
}

.url-bar {
  height: 22px;
  margin: 5px;
  border-radius: 3px;
  width: auto;
  background-color: $electric-blue;
  padding: 0px 6px;
}

.url-bar.starred {
  background-color: $electric-blue;
}

.lookback-container{
  width: 95%;
  height: 350px;
  overflow: scroll;
  background-color: $base-white;
  margin: 30px;
  border:solid 1px $electric-blue;
}

.lookback-graph-container{
  height: auto;
  min-width: 800px;
  padding-top: 10px;
}

.lookback-details-container{
  height: 120px;
  text-align: center;
  position: relative;
  padding: 10px;
  width: 100%;
  background-color: $base-white;
  color: $canteloupe;
}

/*BUTTONS*/
#back-button{
  border: 0;
  background: $electric-blue;
  border-radius: 4px;
  color: $base-white;
  font-size: 15;
  transition-duration: 0.4s;
  margin-right: 5px;
  margin-left: 5px;
}

#back-botton:hover {
    background: $electric-blue;
    color: $electric-blue;
}

.side-bar-title{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: $canteloupe;
}

.side-bar-container{
  display: inline-block;
  width: 200px;
  height: calc(100% - 70px);
  background-color: $base-white;
  border: solid 1px $electric-blue;
}

.domain-bar{
  height: 22px;
  border: solid 1px $electric-blue;
  color: $canteloupe;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px;
  border-radius: 2px;
  padding: 0 2px;
  position:relative;
  z-index: 1;
  min-width: 24px;
  &:hover {
    border-color: $canteloupe;
  }
}

#domain-favicon{
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
  margin-right: 8px;
}

.previousPath {
  border-color: $banana;
}

start-time-label .end-time-label{
  font-size: 15;
  color: $electric-blue;
  width: auto;
}

.site-title{
  font-size: 35px;
  margin-right: 15px;
  color: $base-white;
  font-weight: bold;
}

.search-results-container {
  width: calc(100% - 200px);
  height: calc(100% - 50px);
  display: inline-block;
  position: absolute;
}

.categories-page {
  height: calc(100% - 50px);
}

.vertical-axis-label {
  transform: rotate(270deg);
  transform-origin: left top 0;
  font-size: 20;
  position: absolute;
  top: 600px;
}
.time-labels{
  padding-left: 30px;
  padding-right: 15px;
}

.start-time-label{
  float: left;
}
.end-time-label{
  float: right;
}

.time-break-line{
  height: calc(92% - 240px);
  position: absolute;
  z-index: 1;
  border-right: 1px solid $banana;
}

#first-time-break{
  width: 33%;
  float:left;
}

#second-time-break{
  width: 66%;
  float: right;
}

#time-break-line-label1{
  margin-left: 30%;
  position: absolute;
}
#time-break-line-label2{
  margin-left: 63%;
  position: absolute;
}

.time-container{
  display: list-item;
}

.nav-bar-button {
  border: none;
  background-color: $electric-blue;
  color: $banana;
  margin-top: 13px;
  font-size: medium;
}
.nav-bar-button:hover {
  color: $canteloupe;
}
.nav-bar-button-selected {
  color: $base-white;
  text-decoration: underline;
}

.control-buttons{
  display: flex;
  justify-content: space-around;
  color: $canteloupe;
  font-weight: bold;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: $electric-blue;
}

.nav-menu-bar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.search-bar {
  margin: 7px 10px;
  border-radius: 10px;
  border: none;
  min-width: 200px;
  height: 35px;
}
.blacklist-text-entry {
  margin: 3px 5px;
  border-radius: 4px;
  border: none;
  width: 98%;
}
.all-categories {
  overflow: scroll;
}

.section-title {
  font-size: 20px;
  margin: 10px;
  color: $canteloupe;
}

.selected-domain-bar {
  margin-top: 5%;
  width: 95%;
  border: $electric-blue solid;
  float: none;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  border-radius: 5px;
}

.page-bar{
  border-left: solid $electric-blue;
  border-right: solid $electric-blue;
  height:100%;
  display:inline-block;
}

.close-detail-view-btn{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  border-left: $watermelon;
  background-color: $watermelon;
  font-size: x-large;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
}

.categories-display{
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  margin-top: 0px;
  justify-content: center;
}

.category-entry-wrapper{
  width: 50%;
}

.domainBar-zoom-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden { display:none; }

.error_message { color: blue; }

.delete-category-button {
  background-color: $canteloupe;
  width: 15px;
  height: 15px;
}

.edit-category-button {
  background-color: $watermelon;
  width: 15px;
  height: 15px;
}

.category-title {
  color: $electric-blue;
  text-align: center;
  width: 150px;
}

.side-bar-category{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;;
}

.side-bar-category.checked {
  background-color: $banana;
}

.edit-category-entry {
  
}
