@import url("./daterangepicker.css");

$banana: #FFDB5C;
$banana-dark: #F9D34A;
$electric-blue: #4897D8;
$electric-blue-dark: #2B82CA;
$lime: #77f200;
$lime-dark: #6ad304;
$light-blue: #dbedfc;
$watermelon: #FA6E59;
$watermelon-dark: #F95339;
$canteloupe: #F8A055;
$canteloupe-dark: #F68828;
$base-white: #FAFAFA;
$bar-height: 40px;
$modal-background: #e5eefc;
$hover-color: #F68828;

body {
   width:auto;
   height:auto;
   overflow: hidden;
   background-color: $base-white;
   color: $electric-blue;
   font-family: 'Raleway', sans-serif;
}

.vertical-center{
  align-self: center;
}

.app-container{
  height:50px;
}

#content-body{
  height: 92.5vh;
}

#lookback-content{
  height: 100%;
}

.page-url-bar {
  height: 60px;
  line-height: 35px;
  margin: 5px auto;
  border-radius: 3px;
  width: 95%;
  background-color: $electric-blue;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar-text-col{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  color: $base-white;
  font-size: 12px;
  line-height: 15px;
  width: 45%;
}

.bar-text-col p{
  margin: 0;
}


//WC TODO: change css of blacklist bar and url bar to common component?
.blacklist-bar {
  height: 40px;
  line-height: 40px;
  margin: 5px auto;
  border-radius: 3px;
  width: 95%;
  background-color: $canteloupe;
  color: $base-white;
  padding: 0px 6px;
  display: flex;
  justify-content: space-between;
}

.blacklist-button {
  line-height: $bar-height;
  height: $bar-height;
}

.blacklist-bar-info {
  display: flex;
  height: $bar-height;
  width: 150px;
  justify-content: space-between;
}

.url-bar-category {
  color: $base-white;
  float: left;
  background-color: $canteloupe;
  padding: 0 10px;
  height: 30px;
  border-radius: 2px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.url-bar-category-times {
  display: inline;
  position: relative;
  padding-left: 10px;
}
.url-bar-category-times:hover{
  color: $watermelon;
}

.url{
  color: $banana;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  font-size: 15px;
}

.url:hover {
  color: $base-white;
}

.url-categories{
  display: flex;
  float:right;
  overflow: auto;
  margin-right: 1%;
  width: 45%;
}

.lookback-container{
  width: 98%;
  /*top/bottom, left/right*/
  margin: 5px 1%;
  height: calc(100% - 290px);
  overflow: scroll;
  background-color: white;
  border:solid 1px $electric-blue;
  position:absolute;
  min-width: 800px;
}

.domain-info {
  padding-left: 5px;
  padding-right: 5px;
}

.lookback-graph-container{
  min-width: 800px;
  flex-grow: 1;
  position: relative;
  height: inherit;
  width: inherit;
  margin-right: 4px;
}

.lookback-details-container{
  text-align: center;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 135px;
  background-color: $canteloupe;
  min-width: 400px;
  color: $base-white;
  .h4{
    color: $canteloupe;
    margin: 5px;
  }
  .p{
    margin-right: 30px;
  }
}

/*BUTTONS*/
#back-button{
  border: 0;
  background: $electric-blue;
  border-radius: 4px;
  color: $base-white;
  font-size: 15;
  transition-duration: 0.4s;
  margin-right: 5px;
  margin-left: 5px;
  height: 27px;
}

#back-botton:hover {
    background: red;
    color: red;
}

.side-bar-title{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: $base-white;
  background-color: $canteloupe;
  font-size: large;

}

.side-bar-container{
  color: $canteloupe;
  display: inline-block;
  width: 18%;
  height: 100%;
  background-color: $base-white;
  border: solid 3px $canteloupe;
  border-top: 0px;
  overflow-y: scroll;
}

.hide-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.domain-bar{
  height: 22px;
  border: solid 1px $electric-blue;
  color: $canteloupe;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px;
  border-radius: 2px;
  padding: 0 2px;
  position:flex;
  z-index: 10;
  min-width: 24px;
  &:hover {
    border-color: $canteloupe;
  }
}

.domain-favicon {
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
  margin-right: 8px;
}

.display-favicon {
  width:25px;
  height:25px;
  margin-right: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.previousPath {
  border-color: $banana;
}

start-time-label .end-time-label{
  font-size: 15;
  color: $electric-blue;
  width: auto;
}

.site-title{
  font-size: 35px;
  margin-right: 15px;
  color: $base-white;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}

.search-results-container {
  width: 80%;
  height: 97%;
  margin: 5px auto;
  overflow: scroll;
}

.categories-page {
  height: 92.5vh;
  display: flex;
  flex-direction: row;
}
#graph-plus-buttons{
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  justify-content: space-between;
}

.time-change-button {
  width:35px;
}

#time-change-btn-buffer-lft{
  width: 3px;
  min-height: 60px;
  height: calc(50% - 75px);
  position: relative;
}

#time-change-btn-buffer-rt{
  width: 3px;
  min-height: 60px;
  height: calc(50% - 80px);
  position: relative;
}

#time-change-btn-wrapper{
  position: relative;
  left:4px;
}
.arrow-btn:hover{
  color: $hover-color;
  cursor:pointer;
}

.timeline-label-row{
  width: 100%;
}

#timeline-label-row-top{
  height: 40px;
  display: flex;
  align-items: center;
}

#timeline-label-row-btm{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time-labels{
  margin: 10px 15px;
  height: 80px;
  min-width: 800px;
}
#time-break-min-box-left{
  position:relative;
  float:left;
  width:calc(33% - 190px);
  min-width:1px;
}

#time-break-min-box-right{
  position:relative;
  float:left;
  width:26%;
  min-width:1px;
}

#time-break-line-label1, #time-break-line-label2{
  position: relative;
}


#end-date-label{
  margin-left: auto;
}

#time-break-container{
  height:100%;
  width:100%;
  z-index:1;
  position:absolute;
  display: flex;
}

#tabs-container{
  height:100%;
  width:100%;
  z-index:10;
  position:relative;
}

.time-break-line{
  height:100%;
  border-right: 1px solid $banana;
  position:relative;
  z-index: 1;
}

#first-time-break{
  width: 33%;
  float:left;
}

#second-time-break{
  width: 33%;
  float: left;
}


.nav-bar-button {
  border: none;
  background-color: $electric-blue;
  color: $banana;
  margin: 10px;
  margin-top: 15px;
  font-size: medium;
  padding: 0px;
  outline: none;
}
.nav-bar-button:hover {
  color: $base-white;
}
.nav-bar-button-selected {
  color: $base-white;
  border-bottom: solid $base-white 1px;
  padding: 0px;
}

.control-buttons{
  display: block;
  color: $canteloupe;
  font-weight: bold;
}

.checkbox {
  text-align: center;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: $electric-blue;
}

.nav-menu-bar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.search-bar {
  margin: 7px 10px;
  border-radius: 10px;
  border: none;
  min-width: 200px;
  height: 35px;
  padding: 10px;
  outline: none;
}

.blacklist-entry{
  width: 95%;
  margin: 0 auto;
}

.blacklist-text-entry {
  border-radius: 4px;
  border: none;
  height: 40px;
  outline: none;
  &:focus {
    outline:none;
  }
}
.all-categories {
  overflow: scroll;
}

.section-title {
  font-size: 20px;
  margin: 10px;
  color: $canteloupe;
}

.selected-domain-bar {
  margin: 0 auto;
  margin-top: 12%;
  width: 95%;
  border: $watermelon solid;
  height: 100px;
  border-radius: 5px;
  display:flex;
  flex-flow: row nowrap;
  z-index: inherit;
}

.page-bar{
  border-left: solid $base-white;
  height:100%;
  display:inline-block;
  margin: 0;
  background-color: $watermelon;
}

.close-detail-view-btn{
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}

.category-entry-wrapper{
  width: 50%;
}

.domainBar-zoom-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden { display:none; }

.error_message { color: blue; }

.delete-category-button {
  float: right;
  color: $canteloupe;
  width: 15px;
  height: 25px;
  line-height: 25px;
}

.edit-category-button {
  color: $canteloupe;
  width: 15px;
  height: 25px;
  line-height: 25px;
}

.edit-category-input {
  height: 20px;
  width: 150px;
}

.category-title {
  color: $canteloupe;
  text-align: center;
  width: 150px;
}

.side-bar-category{
  width: 100%;
  height: 25px;
  display: flex;
  line-height: 25px;
  border-bottom: solid thin $canteloupe;
  justify-content: space-between;
}

.checked {
  background-color: $banana;
}

.date-picker {
  width:165px;
  position: relative;
}

.edit-category-entry {
  textarea {
    width: 150px;
    border: none;
    background-color: $light-blue;
    text-align: center;
  }
}

#loading_page {
  display: table;
  margin: 20px 40%;
}

.star-display{
  margin-top: 10px;
}

.display-view {
  width:50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.page-details{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: solid $base-white 2px;
}

#page-domain-details{
  margin: 0 auto;
}

#page-lookback{
  display: flex;
  flex-direction: row;
}
.watermelon {
  background-color: $watermelon;
  color: $base-white;
  &:hover {
    background-color: $watermelon-dark;
    color: $base-white;
  }
  &:focus{
    color: $base-white;
  }
}

.watermelon-border {
  border: solid 2px $watermelon;
}

.canteloupe {
  background-color: $canteloupe;
  color: white;
  &:hover {
    border: $canteloupe-dark;
    background-color: $canteloupe-dark;
  }
}

.canteloupe-border {
  border: solid 2px $canteloupe;
}

.lime {
  background-color: $lime;
  color: white;
  &:hover {
    border: $lime-dark;
    background-color: $lime-dark;
  }
}

.lime-border {
  border: solid 2px $lime;
}

.banana {
  background-color: $banana;
  color: white;
  &:hover {
    border: $banana-dark;
    background-color: $banana-dark;
  }
}

.banana-border {
  border: solid 2px $banana;
}

.electric-blue {
  background-color: $electric-blue;
  color: white;
}

.electric-blue-border {
  border: solid 2px $electric-blue;
}

.star-checkbox{
  border-bottom: solid thin $canteloupe;
  border-top: solid thin $canteloupe;
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
}

.side-bar-star{
  margin: 0 auto;
}

hr{
  margin: 0 auto;
  border-color: $watermelon-dark;
  border-width: 2px;
  width: 100%;
}

.add-category-btn{
  padding-top: 8px;
  padding-bottom: 7px;
  border: 0px;
  font-size: large;
  background: none;
  &:hover{
    color: $canteloupe;
  }
}

.category-bar{
  width: 80px;
  margin: 5px;
  height: 35px;
  color: $base-white;
  line-height: 32px;
  text-align: center;
  padding: 0 6px;
  &:hover{
    font-weight: bold;
    border: solid 2px $base-white;
  }
}

.categories-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.star-div{
  height:45px;
  line-height: 55px;
  width: 45px;
  color: $base-white;
  margin-left: 1%;
  &:hover{
    color: $banana;
  }
}

.starred{
  color: $banana;
  &:hover{
    color: $base-white;
  }
}

.star{
  line-height: 45px;
}

.category-entry{
  margin: 0 auto;
  width: 97%;
  margin-bottom: 5px;
  background-color: $electric-blue-dark;
}

.page-title{
  width: 60%;
}

/* Search Component */
#search-container {
  margin: 15px auto;
  margin-bottom: 0px;
  height: 100%;
  width: 99%;
  display: flex;
  flex-direction: column;
}

#search-page-results-container {
  height: 72vh;
  overflow-y: scroll;
}

#search-selection-container {
  text-align: center;
  margin: 1px auto;
}

.search-select-dropdown {
  margin: 1px 19px;
}

#search-date-select-dropdown{
  margin: auto;
  display: inline-block;
}
#date-select-text{
  border-width: 1px;
  border-radius: 5px;
  border: gray;
  border-style: solid;
  padding: 2px 4px;
}

.advanced-search{
  margin: 0 auto;
  width: 50%;
  font-size: large;
}

.advanced-search-bar {
  width: 90%;
  margin: 7px auto;
  border-radius: 0px;
  border: $electric-blue;
  height: 35px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid;
  color: $electric-blue-dark;
  font-size: medium;
  background-color: $base-white;
  &::-webkit-input-placeholder {
    color: $electric-blue-dark;
    font-size: medium;
  }
}

#search-loading {
  margin: 25px;
  text-align: center;
}

.login-error {
  color: $watermelon-dark;
  text-align: center;
  font-weight: bold;
}

/*MODAL*/
.hider{
  position:absolute;
  top: 0%;
  left: 0%;
  width:100%;
  height:100%;
  z-index: 99;
  background-color:Black;
  opacity:0.6; //for transparency
}

.modal-base{
  position: absolute;
  background-color: $modal-background;
  z-index: 110;
  top: 5%;
  left: 7%;
  width:86%;
  height:90%;
}

.iframe-close-button{
  float: right;
  margin: 0 3%;
  color: $electric-blue;
  &:hover {
    color: $watermelon;
  }
}

.iframe-open-button{
  background: none;
  color: $base-white;
  font-size: x-large;
  border: none;
  outline: none;
  &:hover{
    color: $watermelon;
  }
}

#iframe-open-button:hover{
  background-color: $canteloupe-dark;
}

.i-modal-header {
  width: 100%;
  height: 9%;
}

.m-iframe{
  border-style: none;
  background-color: $base-white;
  position:relative;
  height: 86%;
  width: 90%;
  margin: 0 5% 0% 5%;
}

.url-buttons{
  width: 7%;
  display: flex;
  margin-left: 1%;
}

.iframe-msg-box{
  position:relative;
  height: 90%;
  width: 90%;
  margin: 0 5% 3% 5%;
}

.iframe-error{
  text-align: center;
  width:100%;
  margin-top:30%;
  font-size:large;
  color:black;
}

#page-selector-container{
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  width: 100%;
  font-size: 16px;
}

.page-selector-element{
  display:inline-block;
  padding: 0px 5px;
  margin-left: 0px;
  text-align:center;
  border-color:$electric-blue;
  border-radius:6px;
  background-color:inherit;
}

#previous-chevron{
  margin-right: 3px;
}
#next-chevron{
  margin-left: 3px;
}

.page-number-selector:hover {
  text-decoration: underline;
  cursor: pointer;
}

.page-number-selected {
  color:black;
}

.page-number-selected:hover {
  text-decoration: none !important;
  cursor: default !important;
}

#results-displayed-message {
  margin: 1px 0px 5px 32px;
  color: grey;
}

#no-search-results-message {
  margin: 10px 0px 10px 32px;
  color: grey;
  text-align: center;
}

.go-to-site-btn{
  text-decoration: none;
  margin-left: 5%;
}
.go-to-site-btn:hover{
  color: $canteloupe-dark;
}
#iframe-title{
  text-align: left;
  margin-left: 5%;
  margin-top: -1%;
  text-overflow: ellipsis;
  font-size: medium;
  color:black;
}

#iframe-msg{
  text-align: center;
  margin-top: -10px;
  color: black;
}
#domain-modal{
  display: flex;
  flex-direction: column;
  height: 60%;
  margin-top: 3%;
  opacity: .9;
}
