body {
   width:400px;
   height:300px;
   background-color: #e6f2ff;
   color: #4a90e2;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.popup-header {
  background-color: #4a90e2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup-header h1 {
  margin: auto;
  color: white;
  font-weight: normal;
  font-size: x-large;
  font-family: sans-serif;
  vertical-align: middle;
}

.lookback-btn {
  background: white;
  color: #4a90e2;
  float: right;
}

.popup-body hr{
  margin-top: 0;
  border-color: #4a90e2;
}

.popup-body h2{
  margin-top: 10px;
}
