body {
   width:400px;
   height:300px;
   background-color: #e2e8e4;
   color: #6eb5c0;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.popup-header {
  background-color: #006C84;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup-header h1 {
  margin: auto;
  color: white;
  font-weight: normal;
  font-size: x-large;
  font-family: sans-serif;
  vertical-align: middle;
}

.lookback-btn {
  float: right;
  width: 30px;
  height: 30px;
}

.popup-body h3{
  margin-top: 10px;
  color: #263238;
}

.popup-body h4{
  font-size: medium;
}

.popup-body hr{
  margin-top: 0px;
  margin-bottom:10px;
  border-color: inherit;
  width: 380px;
  margin-left: 12px;
  float:middle;
}

.form-control:focus, .form-control:focus{
    border-color:#6eb5c0;
    box-shadow:none;
}
.form-control{
  border: none;
}
#star {
  display: none;
}

#star + label{
    background:url('../../assets/img/star_50.png') no-repeat;
    height: 50px;
    width: 50px;
    margin-top:5px;
    margin-left: 5px;
    background-size: 32px 32px;
    display:inline-block;
    padding: 10 0 0 0px;
}

#star:checked + label{
    background:url('../../assets/img/star_filled_50.png') no-repeat;
    height: 50px;
    width: 50px;
    margin-top:5px;
    margin-left: 5px;
    background-size: 32px 32px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.add-category-btn{
  background-color: #6eb5c0;
  color: #263238;
  border-color: #6eb5c0;
}

.add-category-btn:hover{
  background-color: #006C84;
}

.category-bar{
  width: 75px;
  margin: 5px;
  border-style: solid; 
  border-width: 1px;
  border-color: #6eb5c0;
  color: #263238;
  text-align: center;
}

.category-bar.checked{
  background-color: #6eb5c0;
}

.hideoverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
