$banana: #FFDB5C;
$electric-blue: #4897D8;
$watermelon: #FA6E59;
$canteloupe: #F8A055;
$base-white: #FAFAFA;

.popup-content {
   width:400px;
   max-height: 300px;
   background-color: $base-white;
   color: $electric-blue;
   font-family: 'Raleway';
   font-weight: normal;
   vertical-align: middle;
}

.popup-header {
  background-color: $electric-blue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.popup-header h1 {
  margin: 0;
  float: left;
  color: $base-white;
  font-size: 30px;
}

.lookback-btn {
  float: right;
  width: 80px;
  height: 33px;
  background-color: $watermelon;
  color: white;
  border-color: $watermelon;
  border-radius: 4px;
  outline: none;
  border: none;
}

.lookback-btn:hover{
  background-color: $canteloupe;
}

.popup-body h3{
  margin-top: 10px;
  font-size: x-large;
}

.popup-body h4{
  font-size: medium;
  margin-bottom: 5px;
  color: $canteloupe;
}

.popup-page-title {
  width: 370px;
  display: flex;
}

.popup-button-group {
  display: inline-flex;
  width: 400px;
  margin: 10px 0;
  justify-content: space-around;
}

.popup-form-group {
  margin: 5px;
}

.popup-form {
  border: solid 1px $canteloupe;
  height: 40px;
}

.error-message{
  text-align: center;
}

.popup-main-form{
  padding: 5px;
}
